<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - DotNetCore_React</title>
        <link rel="shortcut icon" href="~/favicon.ico">

        <!-- Icons -->
        <link href="~/css/font-awesome.min.css" rel="stylesheet">
        <link href="~/css/simple-line-icons.css" rel="stylesheet">
        
        <!-- <link rel="stylesheet" href="~/dist/vendor.css" asp-append-version="true" /> -->
        <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
        <environment names="Staging,Production">
            <link rel="stylesheet" href="" asp-append-version="true" />
        </environment>
    </head>
    <body>
        @RenderBody()

        <!-- <script src="~/dist/vendor.js" asp-append-version="true"></script> -->
        <script src="~/dist/commons.js" asp-append-version="true"></script>
        <script src="~/dist/Main.js" asp-append-version="true"></script>
        @RenderSection("scripts", required: false)
    </body>
</html>
ㄚ