@{
    ViewData["Title"] = "Home Page";
}

<div id="react-app">Loading...</div>

@section scripts {
            <!-- <script src="~/ckeditor/ckeditor.js" asp-append-version="true"></script> -->
<script src="//cdn.ckeditor.com/4.6.1/full-all/ckeditor.js"></script>
    <!-- <script src="~/dist/main.js" asp-append-version="true"></script> -->
}
